.d-inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.form-container {
  max-width: 1000px;
}

.def-width {
  width: initial;
}

.wdth100 {
  width: 100%;
}

.bg-primary {
  background-color: #007bff;
}

.bg-success {
  background-color: #2ecc71;
}

.bg-info {
  background-color: #17a2b8;
}

.bg-warning {
  background-color: #cc8d2e;
}

.bg-danger {
  background-color: #cc2eaa;
}
