{# app/views/***.twig #}
{% extends 'baseView.twig' %}

{% block styles %}
<link rel="stylesheet" href="resources/css/signin.css"> <!-- Custom styles for this template -->
{% endblock %}

{% block body %}
    <div class="container">

      <p class="alert alert-info text-center">Для продолжения необходимо войти. Введите ваши данные:</p>

      <form class="form-signin" method="POST">
        <p></p>
        <h2 class="form-signin-heading text-center">Авторизация</h2>
        <label for="inputLogin" class="sr-only">Логин</label>
        <input type="text" id="inputLogin" class="form-control" placeholder="Логин" name="login"
               value="{% if authLogin is defined %}{{ authLogin }}{% endif %}" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" name="password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember_me"
                   value="remember-me" {% if remember_me is defined %}checked{% endif %}> Запомнить меня
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" name="sign_in" type="submit">Войти</button>
      </form>

    </div>

{% endblock %}
